In [3]:
pip install faker

^C
Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: faker in c:\users\megal\appdata\roaming\python\python312\site-packages (33.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\megal\appdata\roaming\python\python312\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in c:\users\megal\appdata\roaming\python\python312\site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\megal\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\megal\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\megal\appdata\roaming\python\python312\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\megal\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\megal\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\megal\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\megal\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from faker import Faker
import pandas as pd
import random
from datetime import date
import calendar

fake = Faker(local = 'en_us')

def generate_monthly_expenses(month,year):
    num_transactions = 101
    data = []
    for i in range(num_transactions):
        dict = {}
        start_date = date(year, month, 1)
        end_date = date(year, month, calendar.monthrange(year, month)[1])
        dict['transaction_date'] = fake.date_between(start_date=start_date, end_date=end_date)
        dict['Category'] = fake.random_element(elements = ['Food', 'Transportation', 'Entertainment', 'School fees','Shopping', 'Groceries', 'Health', 'Travel','House Rent','Water bill','Electricity bill','wifi','Phone','Gas','Prime','netflix','audible','disney hotstar','youtube','spotify','Investment'])
        dict['Payment Mode'] = fake.random_element(elements = ['Cash','Debit card','Online','Credit card'])                                        
        dict['Description'] = fake.sentence(nb_words = 5)
        dict['Amount Paid'] = round(random.uniform(10,1000),2)
        dict['Cashback'] = 0.0

        if dict['Payment Mode'] == 'Online' and random.random() < 0.2: 
            dict['Cashback'] = round(dict['Amount Paid'] * random.uniform(0.01, 0.1, 2))

        if dict['Category'] == 'School fees':
            dict['Amount Paid'] = 5000
        else:
            dict['Amount Paid'] = round(random.uniform(10, 1000), 2)

        data.append(dict)

    return pd.DataFrame(data)

In [95]:
from faker import Faker
import pandas as pd
import random
from datetime import date
import calendar

fake = Faker(local='en_us')

def generate_monthly_expenses(month, year):
    num_transactions = 101
    data = []
    
    for i in range(num_transactions):
        transaction = {}
        start_date = date(year, month, 1)
        end_date = date(year, month, calendar.monthrange(year, month)[1])
        
        transaction['transaction_date'] = fake.date_between(start_date=start_date, end_date=end_date)
        transaction['Category'] = fake.random_element(elements=['Food', 'Transportation', 'Entertainment', 'School fees', 'Shopping', 'Groceries', 'Health', 'Travel', 'House Rent', 'Water bill', 'Electricity bill', 'wifi', 'Gas', 'Netflix', 'Audible', 'Disney Hotstar', 'YouTube', 'Spotify', 'Investment'])
        


        
        if transaction['Category'] == 'School fees':
            transaction['Amount Paid'] = 5000
        elif transaction['Category'] == 'Food':
            transaction['Amount Paid'] = 200
        elif transaction['Category'] == 'Transportation':
            transaction['Amount Paid'] = 1500
        elif transaction['Category'] == 'Entertainment':
            transaction['Amount Paid'] = 250
        elif transaction['Category'] == 'Shopping':
            transaction['Amount Paid'] = 1000
        elif transaction['Category'] == 'Groceries':
            transaction['Amount Paid'] = 500
        elif transaction['Category'] == 'Health':
            transaction['Amount Paid'] = 2000
        elif transaction['Category'] == 'Travel':
            transaction['Amount Paid'] = 400
        elif transaction['Category'] == 'House Rent':
            transaction['Amount Paid'] = 6000
        elif transaction['Category'] == 'Water bill':
            transaction['Amount Paid'] = 100
        elif transaction['Category'] == 'Electricity bill':
            transaction['Amount Paid'] = 700
        elif transaction['Category'] == 'wifi':
            transaction['Amount Paid'] = 600
        elif transaction['Category'] == 'Gas':
            transaction['Amount Paid'] = 1000
        elif transaction['Category'] == 'Netflix':
            transaction['Amount Paid'] = 300
        elif transaction['Category'] == 'Audible':
            transaction['Amount Paid'] = 299
        elif transaction['Category'] == 'Disney Hotstar':
            transaction['Amount Paid'] = 499
        elif transaction['Category'] == 'Spotify':
            transaction['Amount Paid'] = 350
        elif transaction['Category'] == 'YouTube':
            transaction['Amount Paid'] = 300
        elif transaction['Category'] == 'Investment':
            transaction['Amount Paid'] = 3000
        else:  
            transaction['Amount Paid'] = round(random.uniform(10, 1000), 2)
        
        transaction['Payment Mode'] = fake.random_element(elements=['Cash','Online', 'Debit card',  'Credit card'])
        transaction['Description'] = fake.sentence(nb_words=5)  

        
        if transaction['Category'] == 'School fees':
            transaction['Description'] = "halfyearly exam fees paid"
        elif transaction['Category'] == 'Groceries':
            transaction['Description'] = "1 week groceries are buyed"
        elif transaction['Category'] == "House Rent":
            transaction['Description'] = "Monthly payment is paid"
        elif transaction['Category'] == "Electricity bill":
            transaction['Description'] = "Monthly bill for electrical energy usage in home"
        elif transaction['Category'] == "Gas":
            transaction['Description'] = "Expenses for fuel used in heating and cooking"
        elif transaction['Category'] == "Shopping":
            transaction['Description'] = "Expenditures on clothing and personal items for everyday use"
        elif transaction['Category'] == "Health":
            transaction['Description'] = "Costs for medical care,health insurance and wellness services"
        elif transaction['Category'] == "Water bill":
            transaction['Description'] = "Charges for consumption of water services in a household"
        elif transaction['Category'] == "wifi":
            transaction['Description'] = "Costs associated with internet connectivity"
        elif transaction['Category'] == "Netflix":
            transaction['Description'] = "Subscription fees for movies and TV shows on the platform"
        elif transaction['Category'] == "Spotify":
            transaction['Description'] = "Subscription fees for music and podcasts from the service"
        else:
            transaction['Description'] = fake.sentence(nb_words=5) 



        
        
        
        transaction['Cashback'] = 0.0
        if transaction['Payment Mode'] == 'Online' and random.random() < 0.5:
            transaction['Cashback'] = round(transaction['Amount Paid'] * random.uniform(0.05, 0.20), 2)

        data.append(transaction)

    return pd.DataFrame(data)

# Example usage
year = 2023
for month in range(1, 13):
    df = generate_monthly_expenses(month, year)
    #print(f"Expenses for month {month}:\n", df)

In [96]:
january = generate_monthly_expenses(1,2023)
january
#df1 = pd.DataFrame(january,index = [i for i in range(1,101)])

,transaction_date,Category,Amount Paid,Payment Mode,Description,Cashback
0,2023-01-09,School fees,5000,Cash,halfyearly exam fees paid,0.00
1,2023-01-17,YouTube,300,Online,Student building whether.,32.36
2,2023-01-12,Electricity bill,700,Credit card,Monthly bill for electrical energy usage in home,0.00
3,2023-01-09,Food,200,Credit card,Full design hundred person community maintain.,0.00
4,2023-01-15,Food,200,Cash,Fish issue week leg easy.,0.00
...,...,...,...,...,...,...
96,2023-01-16,Gas,1000,Online,Expenses for fuel used in heating and cooking,0.00
97,2023-01-21,Disney Hotstar,499,Debit card,Think so couple upon officer drug.,0.00
98,2023-01-25,wifi,600,Credit card,Costs associated with internet connectivity,0.00
99,2023-01-22,Gas,1000,Online,Expenses for fuel used in heating and cooking,83.49
100,2023-01-12,House Rent,6000,Online,Monthly payment is paid,0.00

In [97]:
february = generate_monthly_expenses(2,2023)
march = generate_monthly_expenses(3,2023)
april = generate_monthly_expenses(4,2023)
may = generate_monthly_expenses(5,2023)
june = generate_monthly_expenses(6,2023)
july = generate_monthly_expenses(7,2023)
august = generate_monthly_expenses(8,2023)
september = generate_monthly_expenses(9,2023)
october = generate_monthly_expenses(10,2023)
november = generate_monthly_expenses(11,2023)
december = generate_monthly_expenses(12,2023)

In [98]:
december

,transaction_date,Category,Amount Paid,Payment Mode,Description,Cashback
0,2023-12-24,Electricity bill,700,Credit card,Monthly bill for electrical energy usage in home,0.0
1,2023-12-07,Water bill,100,Cash,Charges for consumption of water services in a...,0.0
2,2023-12-05,Investment,3000,Debit card,Person unit stay tell next.,0.0
3,2023-12-23,Shopping,1000,Cash,Expenditures on clothing and personal items fo...,0.0
4,2023-12-04,YouTube,300,Cash,Apply win drive last tax line.,0.0
...,...,...,...,...,...,...
96,2023-12-17,Water bill,100,Cash,Charges for consumption of water services in a...,0.0
97,2023-12-16,Gas,1000,Online,Expenses for fuel used in heating and cooking,0.0
98,2023-12-07,Food,200,Credit card,What understand sit build put rather.,0.0
99,2023-12-25,Electricity bill,700,Online,Monthly bill for electrical energy usage in home,0.0
100,2023-12-01,YouTube,300,Credit card,Good six strong.,0.0

In [99]:
df = pd.concat([january,february,march,april,may,june,july,august,september,october,november,december])
df

,transaction_date,Category,Amount Paid,Payment Mode,Description,Cashback
0,2023-01-09,School fees,5000,Cash,halfyearly exam fees paid,0.00
1,2023-01-17,YouTube,300,Online,Student building whether.,32.36
2,2023-01-12,Electricity bill,700,Credit card,Monthly bill for electrical energy usage in home,0.00
3,2023-01-09,Food,200,Credit card,Full design hundred person community maintain.,0.00
4,2023-01-15,Food,200,Cash,Fish issue week leg easy.,0.00
...,...,...,...,...,...,...
96,2023-12-17,Water bill,100,Cash,Charges for consumption of water services in a...,0.00
97,2023-12-16,Gas,1000,Online,Expenses for fuel used in heating and cooking,0.00
98,2023-12-07,Food,200,Credit card,What understand sit build put rather.,0.00
99,2023-12-25,Electricity bill,700,Online,Monthly bill for electrical energy usage in home,0.00
100,2023-12-01,YouTube,300,Credit card,Good six strong.,0.00

In [100]:
sav = df.to_csv("C:\\Users\\megal\\Downloads\\new monthly expenses-1.csv")

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\megal\\Downloads\\new monthly expenses-1.csv")
df

,Unnamed: 0,transaction_date,Category,Amount Paid,Payment Mode,Description,Cashback
0,0,2023-01-09,School fees,5000,Cash,halfyearly exam fees paid,0.00
1,1,2023-01-17,YouTube,300,Online,Student building whether.,32.36
2,2,2023-01-12,Electricity bill,700,Credit card,Monthly bill for electrical energy usage in home,0.00
3,3,2023-01-09,Food,200,Credit card,Full design hundred person community maintain.,0.00
4,4,2023-01-15,Food,200,Cash,Fish issue week leg easy.,0.00
...,...,...,...,...,...,...,...
1207,96,2023-12-17,Water bill,100,Cash,Charges for consumption of water services in a...,0.00
1208,97,2023-12-16,Gas,1000,Online,Expenses for fuel used in heating and cooking,0.00
1209,98,2023-12-07,Food,200,Credit card,What understand sit build put rather.,0.00
1210,99,2023-12-25,Electricity bill,700,Online,Monthly bill for electrical energy usage in home,0.00
1211,100,2023-12-01,YouTube,300,Credit card,Good six strong.,0.00